{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% trans "SITE_DESCRIPTION" %}"/>
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta charset="utf-8">
    <link type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    <!-- Yandex.RTB -->
    <script>window.yaContextCb=window.yaContextCb||[]</script>
    <script src="https://yandex.ru/ads/system/context.js" async></script>
    <!-- VK PIXEL -->
    <script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src='https://vk.com/js/api/openapi.js?169',t.onload=function(){VK.Retargeting.Init("VK-RTRG-1566488-i5aBd"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-1566488-i5aBd" style="position:fixed; left:-999px;" alt=""/></noscript>
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(87188332, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/87188332" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</head>

<body>

    <div class="tabs is-centered is-boxed is-medium">
        <ul>
          <li>
            <a href="https://t.me/duoplusfree" target="blank">
              <span class="icon is-small"><i class="fa-brands fa-telegram" aria-hidden="true"></i></span>
              <span>{% trans "SITE_LINK_CHAT" %}</span>
            </a>
          </li>
          <li>
            <a href="https://vk.com/donut/yegorovegor" target="blank">
              <span class="icon is-small"><i class="fa-solid fa-mug-hot" aria-hidden="true"></i></span>
              <span>{% trans "SITE_LINK_DONATE" %}</span>
            </a>
          </li>
          <li>
            <a href="https://egorovegor.ru" target="blank">
              <span class="icon is-small"><i class="fas fa-comment" aria-hidden="true"></i></span>
              <span>{% trans "SITE_LINK_BLOG" %}</span>
            </a>
          </li>
          <li>
            {% if request.path == '/en/' %}
            <a href="/ru">
              <span class="icon"><img src="https://flagicons.lipis.dev/flags/4x3/ru.svg"></img></span>
            </a>
            {% endif %}
            {% if request.path == '/ru/' %}
            <a href="/en">
              <span class="icon"><img src="https://flagicons.lipis.dev/flags/4x3/us.svg"></img</span>
            </a>
            {% endif %}
          </li>
        </ul>
    </div>

    {% block content %}
    {% endblock %}

</body>
<div class="footer is-fullheight has-text-centered">
© 2021-2022 <a href="https://egorovegor.ru">{% trans "AUTHOR" %}</a>
</div>
</html>
