{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "SITE_TITLE" %}{% endblock %}
{% block content %}
<section class="hero is-halfheight">
<div class="container">
<div class="columns">
    <div class="column" id="yandex_rtb_R-A-1721799-1">
        <script>window.yaContextCb.push(()=>{
          Ya.Context.AdvManager.render({
            renderTo: 'yandex_rtb_R-A-1721799-1',
            blockId: 'R-A-1721799-1'
          })
        })</script>
    </div>
</div>
    <h1 class="title has-text-centered">{% trans "SITE_WELCOME_TEXT_TITLE" %}</h1>
    <h2 class="subtitle has-text-centered"><a target="_blank" href="{% trans "DUOLINGO_PARTNERS_URL" %}">{% trans "SITE_WELCOME_TEXT_DESCRIPTION" %}</a></h2>
    <div class="columns is-mobile is-4 is-multiline is-centered">
        <div class="column">
            <div class="field">
            {% if messages %}
                {% for message in messages %}
                    <div class="column has-text-centered">
                        <h3 class="subtitle" {% if message.tags == "error" %} style="color:red" {% elif message.tags == "success" %} style="color:green" {% elif message.tags == "info"%} style="color:blue"{% endif %}>
                            {{ message }}
                        </h3>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
            <form method="POST" class="post-form">{% csrf_token %}
                <div class="field is-mobile has-addons has-addons-centered">
                    <div class="control has-icons-left">
                        <input name="url" class="input is-medium is-link" type="input" placeholder="{% trans "SITE_SUBMIT_BUTTON_PLACEHOLDER" %}" required>
                        <span class="icon is-medium is-left">
                            <i class="fa-solid fa-bookmark"></i>
                        </span>
                        {% if start_after == 0 %}
                            <p class="help">{% trans "SITE_FORM_HELP_TEXT_IDLE" %}</p>
                        {% else %}
                            <p class="help">{% blocktrans with count=start_after %}{{ count }} SITE_FORM_HELP_TEXT_BUSY{% endblocktrans %}</p>
                        {% endif %}
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-medium is-link" >{% trans "SITE_SUBMIT_BUTTON_TEXT" %}</button>
                    </div>

                </div>
            </form>
            <div class="box">
                <div class="columns is-mobile has-text-centered">
                    <div class="column"><i class="fa-solid fa-play" title="{% trans "SITE_ICON_RUNNING_TASKS_TITLE" %}" aria-hidden="true">&nbsp;&nbsp;{{running}}</i></div>
                    <div class="column"><i class="fa-solid fa-hourglass" title="{% trans "SITE_ICON_QUEUED_TASKS_TITLE" %}" aria-hidden="true">&nbsp;&nbsp;{{queued}}</i></div>
                    <div class="column"><i class="fa-solid fa-skull" title="{% trans "SITE_ICON_ERRORED_TASKS_TITLE" %}" aria-hidden="true">&nbsp;&nbsp;{{errored}}</i></div>
                    <div class="column"><i class="fa-solid fa-check" title="{% trans "SITE_ICON_FINISHING_TASKS_TITLE" %}" aria-hidden="true">&nbsp;&nbsp;{{finished}}</i></div>
                </div>
            </div>

            <div class="box">
                <div class="field">* {% trans "SITE_RULES_LINE_ONE" %}</div>
                <div class="field">* {% trans "SITE_RULES_LINE_TWO" %}</div>
                <div class="field">* {% trans "SITE_RULES_LINE_THREE" %}</div>
                <div class="field">* {% trans "SITE_RULES_LINE_FOR" %}</div>
                <div class="field">* {% trans "SITE_RULES_LINE_FIVE" %}</div>
                <div class="field">* <a target="_blank" href="{% trans "TG_CHAT_URL" %}">{% trans "SITE_RULES_LINE_SIX" %}</div>
            </div>

        </div>
    </div>
</div>
</section>
{% endblock%}
