{% extends "base.html" %}
{% block title %}Duolingo Plus Free 2022{% endblock %}
{% block content %}
<section class="hero is-halfheight">
<div class="container">
<div class="box is-mobile">

<div id="yandex_rtb_R-A-1721799-1"></div>
<script>window.yaContextCb.push(()=>{
  Ya.Context.AdvManager.render({
    renderTo: 'yandex_rtb_R-A-1721799-1',
    blockId: 'R-A-1721799-1'
  })
})</script>

</div>
    <h1 class="title has-text-centered">Welcome to Duolingo Plus Free!</h1>
    <h2 class="subtitle has-text-centered">Get 7 days free, send your <a target="blank" href="https://support.duolingo.com/hc/en-us/articles/4404225309581-How-does-the-referral-program-work-">invition link</a> below</h2>
    <div class="columns is-multiline">
        <div class="column">
            <div class="field">
            {% if messages %}
                {% for message in messages %}
                    <div class="column has-text-centered">
                        <h3 class="subtitle" {% if message.tags == "error" %} style="color:red" {% elif message.tags == "success" %} style="color:green" {% elif message.tags == "info"%} style="color:blue"{% endif %}>
                            {{ message }}
                        </h3>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
            <form method="POST" class="post-form">{% csrf_token %}
                <div class="field is-mobile has-addons has-addons-centered">
                    <div class="control has-icons-left">
                        <input name="url" class="input is-medium is-link" disabled type="input" placeholder="Put the link here" required>
                        <span class="icon is-medium is-left">
                            <i class="fa-solid fa-bookmark"></i>
                        </span>
                        {% if start_after == 0 %}
                            <p class="help">Your task will be launched instantly</p>
                        {% else %}
                            <p class="help">Your task will run after {{start_after}} minute(s)</p>
                        {% endif %}
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-medium is-link" disabled>Submit</button>
                    </div>

                </div>
            </form>
            <div class="box">
                <div class="columns is-mobile has-text-centered">
                    <div class="column"><i class="fa-solid fa-play" title="Running tasks" aria-hidden="true">&nbsp;&nbsp;&nbsp;{{running}}</i></div>
                    <div class="column"><i class="fa-solid fa-hourglass" title="Tasks in queue" aria-hidden="true">&nbsp;&nbsp;&nbsp;{{queued}}</i></div>
                    <div class="column"><i class="fa-solid fa-skull" title="Dropped tasks with error" aria-hidden="true">&nbsp;&nbsp;&nbsp;{{errored}}</i></div>
                    <div class="column"><i class="fa-solid fa-check" title="Finished tasks" aria-hidden="true">&nbsp;&nbsp;&nbsp;{{finished}}</i></div>
                </div>
            </div>

            <div class="box has-text-centered">
                <iframe  src="https://www.youtube.com/embed/WR7Fl_4Wg5Y?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="box">
                <div class="field">* You can send the link more than once.</div>
                <div class="field">* No login or password required.</div>
                <div class="field">* Average task time 2 minutes.</div>
                <div class="field">* Only one slot for running.</div>
                <div class="field">* Any questions? Ask in <a href="https://t.me/duoplusfree" target="blank">the chat.</a></div>
            </div>

        </div>
    </div>
    <div id="disqus_thread"></div>
    <script>
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://duo-egorovegor-ru.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>
</section>
{% endblock%}
